    .disable-me {
        border: .1rem solid #e2e2e2 !important;
    }

    .card {
        margin-bottom: 0px;
    }

    .form-control,
    .ms-options-wrap {
        border-radius: .15rem;
        background-color: #f3f4f7 !important;
        padding: 10px 15px;
        border: 1px solid #f3f4f7;
        font-size: 1.1em;
        color: #333;
        height: 50px;
        cursor: text !important;
    }

    .form-group {
        margin-bottom: 0.4rem !important;
    }

    .form-control:focus {
        border: 1px solid #d1d1d180 !important;
        background-color: #f3f4f79e !important;
    }

    .border-form {
        border: 1px solid #d1d1d180;
        border-radius: .5rem;
    }
 
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #1ae1ac;
        background-color: #1ae1ac;
    }

    .custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
        background-color: #1ae1ac;
    }

    /* calander and clock extra css */
    .flatpickr-weekdays {
        margin: 10px 0px;
    }

    .flatpickr-weekday {
        color: #000 !important;
        margin-top: 5px;
    }

    .popover {
        -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08) !important;
        box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08) !important;
        border: 0;
        border-radius: 5px;
    }

    .clockpicker-popover .arrow {
        display: none !important;
    }

    .popover.bottom {
        margin-top: 0px;
    }

    .popover .popover-content {
        background-color: #fff;
    }

    /* end calander and clock extra css */

    /* nice select css */
    .nice-select .list {
        width: 100%;
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #d1d1d1;
    }

    .nice-select .option.selected.focus {
        background-color: #f3f4f7;
    }

    .nice-select:after {
        border-bottom: 3px solid #999;
        border-right: 3px solid #999;
        height: 8px;
        right: 15px;
        width: 8px;
    }

    /* nice select css end */
    /* multi-select checkbox css */
    .ms-options{
        height:auto!important;
        overflow:auto;
        display:none;
        padding: 10px;
        margin-top:10px!important;
        z-index:10!important;
        border: 1px solid #d1d1d1!important;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out!important;
    }
    .ms-options-wrap{
        width:100%;
    }
    .ms-options ul{
        margin-bottom:0px;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out!important;
        list-style: none;
    }
    
    .ms-options ul li label:hover{
        background:#f3f4f7!important;
    }
  
     .ms-options-wrap  button{
        margin-top:-2px;
        font-size: 1em;
        color: #333 !important;
        margin-left:16px;
     }
   .ms-options-wrap > button:focus, .ms-options-wrap > button {
        border: 1px solid #aaa0;
        background-color: #fff0;
    }

    .ms-options-wrap > button:after  {
        
        content: '';
        display: block;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

        border-bottom: 3px solid #999;
        border-right: 3px solid #999;
        height: 8px;
        right: 15px;
        width: 8px;
        }
    /* multi-select checkbox css end*/